#PurpleBox {
  background-color: EAC8FA;
  height: auto;
  width: 100vw;
  padding: 30px;
}
#eu {
  background: url("image/eu.jpeg") no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

h2 {
  color: white;
}
h3 {
  font-size: 0.7em;
  color: #9977c5;

  font-size: 0.7em;
  font-weight: lighter;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nomes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
li {
  font-size: 0.7em;
  color: #9977c5;
  font-size: 0.7em;
  font-weight: bold;
  margin-left: 50px;
  line-height: 150%;
}
h4 {
  margin-top: 50px;
  color: rgb(67, 37, 95);
  margin-left: 20px;
}
p {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 20px;
}
b {
  font-weight: bolder;
  color: #eac8fa;
}
